[submodule "agent"]
	path = agent
	url = https://github.com/Cepave/agent.git
[submodule "graph"]
	path = graph
	url = https://github.com/Cepave/graph.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/Cepave/dashboard.git
[submodule "links"]
	path = links
	url = https://github.com/Cepave/links.git
[submodule "alarm"]
	path = alarm
	url = https://github.com/Cepave/alarm.git
[submodule "sender"]
	path = sender
	url = https://github.com/Cepave/sender.git
[submodule "judge"]
	path = judge
	url = https://github.com/Cepave/judge.git
[submodule "hbs"]
	path = hbs
	url = https://github.com/Cepave/hbs.git
[submodule "portal"]
	path = portal
	url = https://github.com/Cepave/portal.git
[submodule "query"]
	path = query
	url = https://github.com/Cepave/query.git
[submodule "transfer"]
	path = transfer
	url = https://github.com/Cepave/transfer.git
[submodule "doc"]
	path = doc
	url = https://github.com/Cepave/doc.git
[submodule "common"]
	path = common
	url = https://github.com/Cepave/common.git
[submodule "open-falcon.github.io"]
	path = open-falcon.github.io
	url = https://github.com/Cepave/open-falcon.github.io.git
[submodule "task"]
	path = task
	url = https://github.com/Cepave/task.git
[submodule "fe"]
	path = fe
	url = https://github.com/Cepave/fe.git
[submodule "ops-common"]
	path = ops-common
	url = https://github.com/Cepave/ops-common.git
[submodule "ops-meta"]
	path = ops-meta
	url = https://github.com/Cepave/ops-meta.git
[submodule "ops-updater"]
	path = ops-updater
	url = https://github.com/Cepave/ops-updater
[submodule "book"]
	path = book
	url = https://github.com/Cepave/book.git
[submodule "nodata"]
	path = nodata
	url = https://github.com/Cepave/nodata
[submodule "aggregator"]
	path = aggregator
	url = https://github.com/Cepave/aggregator.git
[submodule "scripts/mysql"]
	path = scripts/mysql
	url = https://github.com/cepave/scripts.git
[submodule "modules/agent"]
	path = modules/agent
	url = https://github.com/cepave/agent
[submodule "modules/aggregator"]
	path = modules/aggregator
	url = https://github.com/cepave/aggregator
[submodule "modules/graph"]
	path = modules/graph
	url = https://github.com/cepave/graph
[submodule "modules/hbs"]
	path = modules/hbs
	url = https://github.com/cepave/hbs
[submodule "modules/judge"]
	path = modules/judge
	url = https://github.com/cepave/judge
[submodule "modules/links"]
	path = modules/links
	url = https://github.com/cepave/links
[submodule "modules/nodata"]
	path = modules/nodata
	url = https://github.com/cepave/nodata
[submodule "modules/query"]
	path = modules/query
	url = https://github.com/cepave/query
[submodule "modules/sender"]
	path = modules/sender
	url = https://github.com/cepave/sender
[submodule "modules/task"]
	path = modules/task
	url = https://github.com/cepave/task
[submodule "modules/transfer"]
	path = modules/transfer
	url = https://github.com/cepave/transfer
[submodule "modules/fe"]
	path = modules/fe
	url = https://github.com/cepave/fe.git
